{
    "API_KEY": "",
    "API_SECRET": "",
    "OAUTH_TOKEN": "",
    "OAUTH_TOKEN_SECRET": "",
    "OAUTH_ACCESS_LEVEL": "",
    "OAUTH_FULL_NAME": "",
    "OAUTH_USERNAME": "",
    "OAUTH_USER_NSID": ""
}