# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements-dev.txt') }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics
      - name: Get oxford102 cache dir
        id: data-test-cache
        run: |
          python -c "from tests.datasets import TEST_CACHE_DIR; print('::set-output name=dir::' + TEST_CACHE_DIR)"
      - name: Cache oxford images
        uses: actions/cache@v2
        with:
          path: ${{ steps.data-test-cache.outputs.dir }}
          key: ${{ hashFiles('**/*.jpg', '*.tgz', '*.mat') }}
      - name: Test with pytest
        run: |
          python3 -m pytest tests/ --cov=flower_classifier/ --cov-report term-missing --cov-config=tests/.coveragerc
